html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    background: black;
    position: relative;
}

canvas {
    display: block;
}

.menuBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: 15px;
}

.menuBtn img {
    width: 300px;
    transition: transform 0.1s;
}

.menuBtn img:hover {
    transform: scale(1.05);
}

#timer {
    position: absolute;
    top: 40px;
    left: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 28px;
    z-index: 10;
    pointer-events: none;
    font-weight: bold;
}

#pauseButton {
    position: absolute;
    top: 90px;
    left: 20px;
    padding: 8px 16px;
    background: rgba(200, 50, 50, 0.8);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
    transition: background 0.3s, transform 0.1s;
    pointer-events: auto;
    
}

#pauseButton:hover {
    background: rgba(200, 50, 50, 1);
    transform: scale(1.05);
}

#pauseButton:active {
    transform: scale(0.98);
}

#menuScreen{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url('images/accueil_skull.png') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial;
    z-index: 10;
}

#ratCanvas{
    position: absolute;
    bottom: 0; left: 0;
    width: 800px;
    height: 150px;
    pointer-events: none;
    z-index: 1;
}

.titre {
    position: relative;
    z-index: 2;
}